/***********************************************************************
* NOTICE: In order to reduce bandwidth usage, a minimized version of   *
* this stylesheet is used by default (style.min.css). Changes in this  *
* file do not have any effect unless it is loaded by the template      *
* (main.tpl).                                                          *
* The minimized version was created with the YUI Compressor            *
* <http://developer.yahoo.com/yui/compressor/>.                        *
***********************************************************************/

*, ::before, ::after {
	box-sizing: border-box;
}

/* definitions for the main blocks of the pages */
html, body, body > header, #subnav, main, body > footer, #assistancemenu {
	margin: 0;
	padding: 0;
}

html, body {
	width: 100%;
	min-height: 100%;
}

body {
	color: #000;
	background: #fff;
	font-family: "Calibri Light", "DejaVu Sans", Caliban, sans-serif;
	font-size: 1rem;
	line-height: 150%;
}

body > header {
	display: block;
	background-color: hsl(210, 100%, 95%);
	background-image: linear-gradient(to right, hsl(210, 100%, 98%), hsl(210, 100%, 93%));
	padding: 0.2rem 0.25rem;
	border-bottom: 1px solid hsl(210, 100%, 84%);
}

#subnav {
	background: #f4f4f4;
	padding: 0 0.25rem;
	border-bottom: 1px solid #bacbdf;
	line-height: 1.6em;
}

main {
	display: block;
	padding: 0.75rem 0.25rem;
}

body > footer {
	display: block;
	clear: both;
	padding: 0 0.25rem;
	font-size: 0.7em;
	background: #f9f9f9;
	border-top: 1px solid #bacbdf;
}
#assistancemenu {
	position: fixed;
	bottom: 0;
	right: 0;
	z-index: 2;
	background: #f9f9f9;
	width: 14em;
	list-style: none;
	border-top: 1px solid #bacbdf;
	border-left: 1px solid #bacbdf;
}
/* end: main blocks */

/* commonly used elements */
h1 {
	margin-top: 0;
	font-size: 1.25em;
}
h2 {
	margin-top: 1rem;
	font-size: 1.15em;
}
h3 {
	font-size: 1em;
}
p {
	margin-top: 0;
}
img {
	border: none;
}
label {
	cursor:pointer;
}
.avatar {
	display: block;
	border: 0;
	border-radius: 5px;
	padding: 0;
}
/* end: commonly used elements */

/* default links */
a {
	color: #00c;
	text-decoration: none;
}
a:visited {
	color: #00a;
}
a:focus, a:hover {
	color: #00f;
	text-decoration: underline;
}
a:active {
	color: #f00;
}
/* end: default links */

/* strong links */
a.stronglink {
	padding-left: 1em;
	font-weight: bold;
	background-image: url(images/arrow-b-right.svg);
	background-repeat: no-repeat;
	background-size: 1em 1em;
	background-position: 0 center;
}
a.stronglink:visited {
	color: #00c;
}
/* end: strong links */


/* elements of the page header */
.home, h1, .index, #nav {
	margin: 0;
	padding: 0.2em 0 0.1em 0;
	padding: 0.2rem 0 0.1rem 0;
}
h1 a, h1 a:visited {
	color:#000;
	text-decoration: none;
}
h1 a:focus, h1 a:hover, h1 a:active {
	color:#00a;
	text-decoration: underline;
}
.home a[href] {
	padding: 0.1em 0.2em 0.1em 1.15em;
	background: url("images/home.svg") 0.2em center/0.75em 0.75em no-repeat;
}

#topsearch div {
	display: inline;
}
#topsearch #search-input {
	width: 10rem;
}
/* end: elements of the page header */

/* elements of the navigation bar below the page header */

#submenu, #subnav > * {
	margin: 0;
	padding: 0;
}
#subnav > *:not(:last-child) {
	border-bottom: 1px solid #bacbdf;
}
#subnav ul {
	list-style: none;
	display: flex;
	align-content: flex-start;
	flex-wrap: wrap;
}

#subnav-2 a {
	background-repeat: no-repeat;
}
#subnav .fold-postings {
	background-position: 0 -993px;
}

#subnav a {
	padding: 0 0.25em;
	white-space: nowrap;
	display: flex;
	align-items: center;
}
#subnav a .icon {
	display: inline-block;
	padding:0;
	width: 1em;
	height: 1em;
	margin-right: 0.125em;
	flex: 0 0 1em;
	background-repeat: no-repeat;
	background-size: 0.85em 0.85em;
	background-position: center center;
}
#subnav a span:not([class]), #subnav a strong {
	flex: 1 1 auto;
	padding: 0 0 0 0.125em;
}
#subnav a.create-thread .icon {
	background-image: url(images/arrow-b-right.svg);
}
#subnav a[href*='mode=user&action=edit_profile'] .icon {
	background-image: url(images/user.svg);
}
#subnav a[href*='mode=user&action=show_posts'] .icon {
	background-image: url(images/entries-listing.svg);
}
#subnav a[href*='mode=bookmarks'] .icon {
	background-image: url(images/bookmark.svg);
}
#subnav a[href*='mode=admin'] .icon {
	background-image: url(images/wrench.svg);
}
#subnav a[href$='?mode=user'] .icon {
	background-image: url("images/users.svg");
}
#subnav .ic-log-in .icon {
	background-image: url("images/log-in.svg");
}
#subnav .ic-log-out .icon {
	background-image: url("images/log-out.svg");
}
#subnav a[href$='?mode=register'] .icon {
	background: url("images/sign-add.svg") 0.5em 0.5em/0.6em 0.6em no-repeat, url("images/user.svg") 0.2em center/0.75em 0.75em no-repeat;
}
#subnav a[href*='mode=page'] .icon {
	background-image: url("images/file.svg");
}
#subnav .refresh .icon {
	background-image: url(images/reload.svg);
}
#subnav .fold-1 .icon {
	background-image: url(images/fold.svg);
}
#subnav .fold-2 .icon {
	background-image: url(images/unfold.svg);
}
#subnav .threadview .icon {
	background-image: url(images/threads-nested.svg);
}
#subnav .tableview .icon {
	background-image: url(images/threads-table.svg);
}
#subnav .order-1 .icon {
	background-image: url(images/order-to-top.svg);
}
#subnav .order-2 .icon {
	background-image: url(images/order-to-bottom.svg);
}
#subnav .openthread .icon, #subnav .hierarchic .icon {
	background-image: url(images/thread-entries-nested.svg);
}
#subnav .linear .icon {
	background-image: url(images/thread-entries-linear.svg);
}
#subnav-4 {
	display: flex;
	align-items: center;
}
/* end: elements of the navigation bar below the page header */


/* elements of the main block */
/* general rules */
.xsmall, .small {
	font-size: 0.69em;
	line-height: 130%;
}

/* elements of #sidebar, #bottombar, aside */
aside h2, #sidebarcontent, aside section h3, aside section p, #latest-postings ul, #modmenu ul, #latest-postings li, #modmenu li, #latest-postings a, #modmenu a {
	margin:0;
}
aside, #sidebar, #bottombar, aside h2, #sidebarcontent, aside section h3, #latest-postings ul, #modmenu ul, #latest-postings li, #modmenu li {
	padding: 0;
}
#sidebar, #bottombar {
	margin: 0 0 1em 0;
}
/* main header with folding link */
aside h2 {
	font-size: 1em;
	font-size: 1rem;
	line-height: 160%;
	font-weight: normal;
	background-color: hsl(210, 100%, 92%);
	border: 1px solid #bacbdf;
	box-shadow: 0.1em 0.1em 0.25em 0.1em #ced;
}
aside h2 a {
	display: block;
	height: 100%;
	padding: 0 0.25rem;
	width: 100%;
	text-decoration: none;
}
aside h2 a:link, aside h2 a:visited {
	color: #000;
}
aside h2 a:focus, aside h2 a:hover {
	color: #143;
}
aside h2 a:active {
	color: #643;
}
/* box containing the sidebars content boxes, the boxes itself and their headers */
#sidebarcontent, aside section, aside section h3 {
	margin: 0;
	padding: 0;
}
aside section {
	margin: 0.25em 0 0 0;
	background: #f9f9f9;
	border: 1px solid #bacbdf;
	box-shadow: 0.1em 0.1em 0.25em 0.1em #ced;
}
aside section h3 {
	font-size: 1em;
	font-size: 1rem;
	padding: 0 0.25rem;
	width: 100%;
	line-height: 160%;
	font-weight: normal;
	background: #d2ddea;
}

/* box with the latest postings and the similar working modmenu */
#latest-postings ul, #modmenu ul {
	list-style: none;
}
#latest-postings li, #modmenu li {
	word-wrap: break-word;
	overflow: hidden;
	border-bottom: 1px solid #d8d8d8;
}#latest-postings li:last-child, #modmenu li:last-child {
	border-bottom: none;
}
#latest-postings a, #modmenu a {
	line-height: 1.5em;
	text-decoration: none;
	display: block;
	padding: 0.1em 0.2em;
	background-color: #f0f0f0;
	color: #00c;
}
#latest-postings a span {
	display: block;
}
#latest-postings a:visited, #latest-postings a.read {
	background-color: #fff;
}
#latest-postings li a:visited .entry-title, #latest-postings a.read .entry-title {
	color:#808;
}
#latest-postings a:focus, #latest-postings a:hover, #modmenu a:focus, #modmenu a:hover {
	background-color: #ffffcf;
}
#latest-postings a:focus .entry-title, #latest-postings a:hover .entry-title, #modmenu a:focus, #modmenu a:hover {
	text-decoration: underline;
	color: #013;
}
#latest-postings a .entry-date {
	color: #666;
	font-size: 0.9em;
}
#mod-options a {
	display: flex;
	align-items: center;
}
#mod-options a .icon {
	display: inline-block;
	padding:0;
	height: 0.85em;
	width: 0.85em;
	margin: 0;
	background-repeat: no-repeat;
	background-size: 100%;
	background-position: center;
}
#mod-options a span:not(.icon) {
	padding-left: 0.2em;
}
#mod-options a.delete-marked .icon {
	background-image: url(images/marker-cross.svg), url(images/marker-circle.svg);
}
#mod-options a.manage .icon {
	background-image: url(images/thread-change-no.svg);
}
#mod-options a.include-spam .icon {
	background: url("images/check-mark.svg") 85% 85% / 52% no-repeat, url("images/marker-circle.svg") 102% 102% / 70% no-repeat, url("images/warning.svg") center / 100% no-repeat;
}
#mod-options a.exclude-spam .icon {
	background: url("images/marker-cross.svg") 85% 85% / 52% no-repeat, url("images/marker-circle.svg") 102% 102% / 70% no-repeat, url("images/warning.svg") center / 100% no-repeat;
}
#mod-options a.list-spam .icon {
	background-image: url(images/warning.svg);
}
#mod-options a.delete-spam .icon {
	background-image: url(images/marker-cross.svg);
}
#mod-options a.non-activated-users .icon {
	background: url("images/sign-add.svg") 102% 102% / 60% no-repeat, url("images/user.svg") center / 100% no-repeat;
}

#tagcloud ul, #usersonline ul {
	margin: 0;
	padding: 5px;
	list-style: none;
}
#tagcloud li, #usersonline li {
	display: inline;
}
#tagcloud strong {
	font-weight: bold;
}

#usersonline {
	background: #f9f9f9;
	border: 1px solid #bacbdf;
	margin: 0.75em 0;
	margin: 0.75rem 0;
	box-shadow: 0.1em 0.1em 0.25em 0.1em #ced;
}
#usersonline h2 {
	padding:0 5px;
	border-top: none;
	border-right: none;
	border-left: none;
	box-shadow: none;
}
#usersonline ul {
	background-color: #fff;
}
#tagcloud a, #usersonline a {
	display:inline-block;
	margin-right:0.25rem;
}
#tagcloud a:not(:last-child):after, #usersonline a:not(:last-child):after {
	content:", ";
}
#additional-admin-info p {
	line-height: 1.5em;
	padding: 0.125rem 0.25rem;
}
#releases p {
	padding: 0;
}
#releases p a {
	display: block;
	margin: 0;
	padding: 0.125rem 0.25rem;
}
#install-script-exists h3 {
	color: red;
}
#install-script-exists h3::before  {
	content: url("images/warning.svg"); padding-right: 5px;
}
/* end: elements of #sidebar, #bottombar, aside */

/* search results list */
.searchresults {
	list-style: none;
	margin: 1em 0;
	padding: 0;
}
.searchresults li > a {
	padding: 0 0 0 1.2em;
}
.searchresults .thread-search {
	background: url(images/thread-change-no.svg) no-repeat left center/0.95em;
}
.searchresults .reply-search {
	background: url(images/clasp-change-no.svg) no-repeat left 0.05em bottom 0.1em/0.95em;
}

/* main menu in admin page */
.adminmenu {
	padding: 0;
	margin: 0.5rem 0;
	list-style-type: none;
}
.adminmenu + .below-adminmenu {
	margin-top: 0.75em;
}
.adminmenu li {
	margin: 0.25rem 0 0 0;
	padding: 0;
}
.adminmenu a {
	display: flex;
	align-items: center;
	padding: 0.125em;
	text-decoration:none;
	border: 1px solid #bacbdf;
	box-shadow: 0.1em 0.1em 0.25em 0.1em #ced;
}
.adminmenu a .icon {
	display: inline-block;
	padding:0;
	height: 1.25em;
	width: 1.25em;
	flex: 0 0 1.25em;
	margin: 0.25em;
	background-repeat: no-repeat;
	background-size: 100%;
	background-position: center center;
}
.adminmenu a span:not([class]) {
	flex: 1 1 auto;
}
.adminmenu a img {
	margin:0 5px -3px 0;
	padding:0;
}
.adminmenu a[href*='&action=settings'] .icon {
	background-image: url("images/settings-sliders.svg");
}
.adminmenu a[href*='&action=user'] .icon {
	background-image: url("images/users.svg");
}
.adminmenu a[href*='&action=categories'] .icon {
	background-image: url("images/categories.svg");
}
.adminmenu a[href*='&action=smilies'] .icon, .adminmenu a[href*='&enable_smilies=true'] .icon {
	background-image: url("images/smilies.svg");
}
.adminmenu a[href*='&action=pages'] .icon {
	background-image: url("images/files.svg");
}
.adminmenu a[href*='&action=spam_protection'] .icon {
	background-image: url("images/shield.svg");
}
.adminmenu a[href*='&action=backup'] .icon, .adminmenu a[href*='create_backup=0'] .icon {
	background-image: url("images/floppy-disc.svg");
}
.adminmenu a[href*='create_backup=1'] .icon {
	background: url("images/entries-listing.svg") 100% 100% / 75% no-repeat, url("images/floppy-disc.svg") left top / 60% no-repeat;
}
.adminmenu a[href*='create_backup=2'] .icon {
	background: url("images/users.svg") 100% 100% / 75% no-repeat, url("images/floppy-disc.svg") left top / 60% no-repeat;
}
.adminmenu a[href*='create_backup=3'] .icon {
	background: url("images/settings-sliders.svg") 100% 100% / 75% no-repeat, url("images/floppy-disc.svg") left top / 60% no-repeat;
}
.adminmenu a[href*='create_backup=4'] .icon {
	background: url("images/categories.svg") 100% 100% / 75% no-repeat, url("images/floppy-disc.svg") left top / 60% no-repeat;
}
.adminmenu a[href*='create_backup=5'] .icon {
	background: url("images/files.svg") 100% 100% / 75% no-repeat, url("images/floppy-disc.svg") left top / 60% no-repeat;
}
.adminmenu a[href*='create_backup=6'] .icon {
	background: url("images/smilies.svg") 100% 100% / 75% no-repeat, url("images/floppy-disc.svg") left top / 60% no-repeat;
}
.adminmenu a[href*='create_backup=7'] .icon {
	background: url("images/warning.svg") 100% 100% / 75% no-repeat, url("images/floppy-disc.svg") left top / 60% no-repeat;
}
.adminmenu a[href*='create_backup=8'] .icon {
	background: url("images/notepad.svg") 100% 100% / 75% no-repeat, url("images/floppy-disc.svg") left top / 60% no-repeat;
}
.adminmenu a[href*='create_backup=9'] .icon {
	background: url("images/warning.svg") 100% 100% / 75% no-repeat, url("images/floppy-disc.svg") left top / 60% no-repeat;
}
.adminmenu a[href*='create_backup=10'] .icon {
	background: url("images/clock.svg") 100% 100% / 75% no-repeat, url("images/floppy-disc.svg") left top / 60% no-repeat;
}
.adminmenu a[href*='&action=update'] .icon {
	background-image: url("images/software-update.svg");
}
.adminmenu a[href*='&action=reset_uninstall'] .icon, .adminmenu a[href*='&action=clear_userdata'] .icon {
	background-image: url("images/marker-cross.svg");
}
.adminmenu a[href*='&action=register'] .icon {
	background: url("images/sign-add.svg") 102% 102% / 60% no-repeat, url("images/user.svg") center / 100% no-repeat;
}
.adminmenu a[href*='&action=reset_tou'] .icon, .adminmenu a[href*='&action=reset_dps'] .icon {
	background: url("images/pencil.svg") 102% 102% / 60% no-repeat, url("images/file.svg") center / 100% no-repeat;
}
.adminmenu a[href*='&action=email_list'] .icon {
	background-image: url("images/contact-email.svg");
}
.adminmenu a[href*='&disable_smilies=true'] .icon {
	background: url("images/marker-cross.svg") center center / 100% no-repeat, url("images/smilies.svg") center center / 75% no-repeat;
}
.adminmenu a[href*='&action=edit_page'] .icon {
	background: url("images/sign-add.svg") 102% 102% / 60% no-repeat, url("images/file.svg") center / 100% no-repeat;
}
.adminmenu a[href*='?mode=admin&edit_user='] .icon {
	background: url("images/pencil.svg") 102% 102% / 60% no-repeat, url("images/user.svg") center / 100% no-repeat;
}
.adminmenu a[href*='?mode=admin&delete_user='] .icon {
	background: url("images/sign-remove.svg") 102% 102% / 60% no-repeat, url("images/user.svg") center / 100% no-repeat;
}
.adminmenu a[href*='?mode=admin&user_delete_all_entries='] .icon {
	background: url("images/sign-remove.svg") 102% 102% / 60% no-repeat, url("images/preview-bubble.svg") center / 100% no-repeat;
}
.adminmenu a.lock-user .icon {
	background-image: url(images/lock-closed.svg);
}
.adminmenu a.unlock-user .icon {
	background-image: url(images/lock-open.svg);
}
/* settings forms without table */
.r-select:not(:last-of-type) {
	border-bottom: 1px dotted #bacbdf;
}
form > div:not(:last-child) {
	margin: 0 0 1rem 0;
	padding: 0 0 0.5rem 0;
	border-bottom: 1px dotted #bacbdf;
}
p.label {
	font-weight: bold;
}
form > div p, form > div ul, form > div div {
	margin: 0 0 0.25rem 0;
}

.r-select h3 {
	margin: 0 0 0.5rem 0;
}
.r-select ul {
	margin: 0 0 0.5rem 0;
	padding: 0;
	list-style: none;
	display: flex;
}
.r-select.sl ul {
	flex-wrap: wrap;
}
.r-select.ml ul {
	flex-direction: column;
}
.r-select:last-of-type ul {
	margin-bottom: 0;
}
.r-select li {
	flex: auto;
}
.r-select label {
	display: inline-block;
	padding: 0.25rem;
	width: 100%;
	text-align: center;
	border: 1px solid #bacbdf;
}
.r-select.ml label {
	text-align: left;
}
.r-select input[type="radio"]:not(:checked) ~ label {
	background-color: #fff;
	background-image: linear-gradient(#fff, #f0f0f8);
	color: #555;
	font-style: italic;
}
.r-select input[type="radio"]:checked ~ label {
	background-color: #aac8ff;
	background-image: linear-gradient(#aac8ff, #a0b8f0);
	color: #000;
}
.r-select input[type="radio"] {
	display: none;
}
input, select option {
	font-size: 1em;
}
/* end: settings forms without table */

ul.pagination {
	margin: 0.75rem 0;
	padding: 0;
	list-style-type: none;
}
ul.pagination li {
	display:inline;
	margin-left: 0.5em;
}
ul.pagination li:first-child {
	margin-left: 0;
}
ul.pagination a {
	border: 1px solid #bacbdf;
	background: #f9f9f9;
	padding: 0.1em 0.4em;
}
ul.pagination a:focus, ul.pagination a:hover, ul.pagination a:active {
	border:1px solid #00c;
	background:#efefef;
	text-decoration:none;
}
ul.pagination a:not([href]) {
	border: 1px solid #bacbdf;
	color: #989898;
	font-weight: bold;
}

/* page internal search fields */
#searchbox {
	margin: 0 0 0.75em 0;
	margin: 0 0 0.75rem 0;
}
#searchbox label {
	display: block;
}
#searchfield {
	width: 18em;
}

/* table definitions */
table {
	border: none;
	border-collapse: collapse;
	width: 100%;
}
thead {
	display: none;
}
tbody, tr, th, td {
	display: block;
}
tr {
	border: 1px solid #bacbdf;
	margin-bottom: 0.25rem;
	box-shadow: 0.1em 0.1em 0.25em 0.1em #ced;
}
tr:last-child {
	margin-bottom: 0;
}
th, td {
	vertical-align: top;
	padding: 0.125em 0.25em;
	padding: 0.125rem 0.25rem;
}
.normaltab .subject, table.normaltab td.c, .settings th {
	border-bottom: 1px dotted #bacbdf;
}
td[data-header] {
	background-color: #fff;
	font-size:0.82em;
	line-height: 1.3em;
}
td[data-header]::before {
	content: attr(data-header) ': ';
}
.cell-date, .cell-count-views, .cell-count-replies {
	display: none;
}
#main-thread-list tbody .cell-subject {
	background-color: #dfefff;
	border-bottom: 1px solid #bacbdf;
}
.settings {
	margin: 0 0 0.25em 0;
}
.settings th {
	background-color: hsl(210, 100%, 92%);
	text-align: left;
}
.settings th strong {
	display: block;
}
.settings th .description {
	font-weight: normal;
	display: block;
	font-size: 0.92em;
}
.settings td {
	background:#f5f5f5;
}
td.cell-subject {
	background-color: hsl(210, 100%, 92%);
	font-size: 1em;
	border-bottom: 1px solid #bacbdf;
}
.cell-subject a.item {
	font-weight: bold;
}
td a.user-locked {
	color: #e10;
}
.taglist ul {
	margin: 0;
	padding: 0;
	list-style: none;
}
.taglist li {
	display: inline;
}
/* form elements */

/* give all textareas and inputs (except radios and checkboxes)
  a proper width for narrow vieworts */
textarea, input[size="40"] {
	width: 100%;
}
input[size="5"] {
	width: 3.5em;
}
input[size="3"] {
	width: 2.5em;
}
.hp {
	display: none;
}

/* entry form */
#postingform fieldset {
	margin: 0 0 1em 0;
}
#postingform label, #postingform input[type="text"], #postingform select {
	display: block;
}

/* thread tree: */
.thread  {
	margin: 0 0 0.75em 0;
	margin: 0 0 0.75rem 0;
	padding: 0;
	list-style-type: none;
	max-width: 100%;
}
td .thread  {
	margin: 0;
}
.fold-expand {
	display: inline;
}
.fold-expand img {
	width: 14px;
	height: 14px;
}
.fold-expand img.expand-thread {
	background: url("images/unfold.svg") left 5% / 90% no-repeat;
}
.fold-expand img.fold-thread {
	background: url("images/fold.svg") left 5% / 90% no-repeat;
}
.fold-expand img.expand-thread-inactive {
	background: url("images/no-fold.svg") left 5% / 90% no-repeat;
}
.thread li > a {
	font-weight: bold;
}
ul.reply li a {
	font-weight: normal;
}

ul.reply, ul.deep-reply, ul.very-deep-reply {
	margin:0;
	padding: 0 0 0 0.75rem;
	list-style-type:none;
	max-width:100%;
}
ul.reply ul {
	border-left: 4px dotted #bfc1be;
}
ul.reply li:last-child > ul {
	border: none;
}
ul.reply li {
	line-height: 135%;
}

.thread li > a:link, .thread li > a:visited {
	color: #00c;
}
.thread li > a:focus, .thread li > a:hover {
	color: #00f;
	text-decoration: underline;
}
.thread li > a:not([href]) {
	color: #d00;
	text-decoration: none;
	font-weight: bold;
}
.admin {
	color: #c10;
}
.mod {
	color: #091;
}

.opening-entry, .following-entry {
	padding-left: 1.2em;
	background-repeat: no-repeat;
	background-size: 1em 1em;
	background-position: 0 center;
}
.opening-entry {
	background-image: url(images/thread-change-no.svg);
}
.opening-entry.sticky {
	background-image: url(images/thread-pinned.svg), url(images/thread-change-no.svg);
}
.opening-entry.locked {
	background-image: url(images/thread-locked.svg), url(images/thread-change-no.svg);
}
.opening-entry.sticky.locked {
	background-image: url(images/thread-locked.svg), url(images/thread-pinned.svg), url(images/thread-change-no.svg);
}
.opening-entry.new {
	background-image: url(images/thread-change-yes.svg);
}
.following-entry {
	background-image: url(images/clasp-change-no.svg);
}
.following-entry.new {
	background-image: url(images/clasp-change-yes.svg);
}
/* end: thread three */

/* postings of a thread in the nested view */
.reply-wrapper {
	margin: 0 0 0 0.5rem;
	padding:0;
}

.thread-posting {
	border: 1px solid #bacbdf;
	border-left-width: 0.5em;
	margin: 0 0 0.5em 0;
	margin: 0 0 0.5rem 0;
	padding: 0;
	min-width: 16em;
	box-shadow: 0.1em 0.1em 0.25em 0.1em #ced;
}
.thread-posting.read {
	border-left-color: #aab;
}
.thread-posting.new {
	border-left-color: #fd4;
}

article header {
	overflow: hidden;
	margin: 0;
	padding: 5px;
}
article.thread-posting header {
	background-color: #d0e8ff;
}

header .avatar {
	float: left;
	margin: 0 5px 5px 0;
	width: auto;
	height: 3.5em;
}

article header h2,
article header p {
	margin: 0 0 5px 0;
	padding: 0;
}

article header .category {
	font-weight: normal;
	font-size: 0.82em;
	font-size: 0.82rem;
}

article header .author {
	color: #888;
	font-size: 0.82em;
	font-size: 0.82rem;
	margin: 0;
}

article header .posting-hp, article header .posting-location, article header .posting-time, article header .posting-ip, article header .posting-edited, article header .posting-views, article header .op-link, article header .interpunction {
	display: none;
}

article .tags {
	clear: both;
}

article .tags h3, article .tags ul {
	font-size: 0.82em;
	font-weight: normal;
	margin: 0;
}

article .tags h3, article .tags ul, article .tags li {
	display: inline;
	padding: 0 0.15em 0 0;
	padding: 0 0.15rem 0 0;
}

article .tags li:not(:last-child):after {
	content: ", ";
}

article .body {
	margin: 0;
	padding: 5px;
	background: #fff;
}

article .body * {
	margin: 0 0 0.5em 0;
	margin: 0 0 0.5rem 0;
}

article blockquote {
	color: #777;
	font-style: italic;
	border-left: 5px solid hsl(0, 0%, 75%);
	padding: 0 0 0 1.25rem;
}

.body img {
	max-width: 100%;
	height: auto;
}
.thumbnail {
	width: 9em;
	height: auto;
}
#image-canvas {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 2;
	background: url(images/canvas_bg.png);
}
#image-canvas img {
	display: block;
	margin: auto;
	max-width: 90vw;
	max-height: 90vw;
	height: auto;
	z-index: 3;
}

.body .signature {
	margin: 0.5em 0 0 0;
	margin: 0.5rem 0 0 0;
	padding: 0;
	color: #808080;
	font-size: 0.82em;
	line-height: 1.4em;
}

.body pre {
	padding: 0.25em;
	white-space: pre-wrap;
	border: 1px solid #ed0;
	background-color: #ffd;
	color: #224;
}

code {
	color: #224;
}

article footer {
	margin: 0;
	padding: 5px 5px 0 5px;
}

article.thread-posting footer {
	background-color: #f0f0ff;
}

article footer ul.options {
	overflow: hidden;
	margin: 0;
	padding: 0;
	list-style: none;
}

article footer .options li {
	float: left;
	margin: 0 5px 5px 0;
	padding: 0;
}

article footer .options li a, article footer .options li span {
	display: block;
	margin: 0;
	padding: 0 0.25em 0 1.2em;
	border: 1px solid #bacbdf;
	background-repeat: no-repeat;
	background-size: 1em 1em;
	background-position: 0.1em center;
}
article footer .options li span {
	border-color: #888;
	color: #888;
	background-color: #f0f0eb;
}
article footer .options li a:link, article footer .options li a:visited {
	background-color: #f9f9f9;
}
article footer .options li a:focus, article footer .options li a:hover {
	background-color: #d9efff;
}
article footer .options li a:active {
	background-color: #e9f8ff;
}
article footer a.add-bookmark, article footer a.delete-bookmark {
	background-image: url(images/notepad.svg);
}
article footer a.edit {
	background-image: url(images/pencil.svg), url(images/file.svg);
}
article footer a.delete {
	background-image: url(images/marker-cross.svg);
}
article footer a.move {
	background-image: url(images/move-item.svg);
}
article footer a.report {
	background-image: url(images/warning.svg);
}
article footer a.lock, article footer a.lock-thread, article footer li .locked {
	background-image: url(images/lock-closed.svg);
}
article footer a.unlock, article footer a.unlock-thread {
	background-image: url(images/lock-open.svg);
}
/* special rules for thread tree below singe posting view*/
section.thread-tree header {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
section.thread-tree header h2, section.thread-tree header p {
	margin: 0 0 0.5em 0;
}
/* ajax preview element */
#ajax-preview {
	position: absolute;
	width: 30em;
	max-width: calc(100% - 2px);
	border: 1px solid #ec4;
}
#ajax-preview-header {
	background-color: #118;
	text-align: right;
	padding: 0 0.2em;
}
#ajax-preview-content {
	max-height: 18em;
	overflow: auto;
	padding: 0 0.5em 0.5em 0.5em;
	background-color: #fff8aa;
}
/* end: elements of the posting views */

/* login and registration forms */
.hover-layer {
	margin: 1em 0;
	padding: 1em;
}
.hover-layer > :last-child {
	margin-bottom: 0;
}
.hover-layer input[type="text"], .hover-layer input[type="password"], .hover-layer input[type="email"] {
	width: 15.5em;
}
.hover-layer input[type="checkbox"] {
	width: 1em;
}
/* end: login and registration forms */

/* elements of admin interface */
.item-tools ul {
	display: flex;
	align-items: flex-start;
	flex-wrap: wrap;
	list-style: none;
	margin: 0;
	padding: 0;
}
.item-tools li:not(:last-child) {
	margin: 0 0.125em 0 0;
	margin: 0 0.125rem 0 0;
}
.item-tools a {
	display: flex;
	align-items: center;
}
.item-tools .icon {
	display: inline-block;
	width: 1em;
	height: 1em;
	margin-right: 0.125em;
	background-repeat: no-repeat;
	background-size: 1em 1em;
	background-position: center center;
}
.item-tools span:not([class="icon"]) {
	position: absolute !important;
	height: 1px;
	width: 1px;
	overflow: hidden;
	clip: rect(1px, 1px, 1px, 1px);
	white-space: nowrap;
}
.editor .icon {
	background-image: url(images/pencil.svg), url(images/file.svg);
}
.terminator .icon, .backup-terminator .icon {
	background-image: url(images/marker-cross.svg);
}
.move-item-up .icon {
	background-image: url(images/arrow-b-up.svg);
}
.move-item-down .icon {
	background-image: url(images/arrow-b-down.svg);
}
.download-backup .icon {
	background: url("images/arrow-b-down.svg") 100% 100% / 75% no-repeat, url("images/floppy-disc.svg") left top / 60% no-repeat;
}
.restore-backup .icon {
	background: url("images/arrow-b-up.svg") 100% 100% / 75% no-repeat, url("images/floppy-disc.svg") left top / 60% no-repeat;
}
.ok, .errormessage {
	padding: 0.25em 0.25em 0.25em 1.5em;
}
.ok {
	border: 1px solid #0c4;
	color: #062;
	background: url(images/check-mark.svg) no-repeat 0.2em center / 1em 1em #afd;
}
.errormessage {
	border: 1px solid #f80800;
	color: #620;
	background: url(images/marker-cross.svg) no-repeat 0.2em center / 1em 1em #fda;
}
.ok h2, .ok h3, .ok p, .ok ul, .errormessage h2, .errormessage h3, .errormessage p, .errormessage ul {
	margin: 0.25em 0;
	margin: 0.25rem 0;
}

/* elements in the user profile edit */
.checkboxlist {
	list-style: none;
	margin: 0;
	padding: 0;
}
/* end: elements of the main block */

/* elements of the footer */
#footer-1, #footer-2, #footermenu, #footermenu li {
	margin: 0;
	padding: 0;
}
#footermenu {
	margin-bottom: 1rem;
	list-style-type: none;
}
#footermenu li {
	display: inline;
	margin-left: 0.25em;
}
#footermenu li:first-child {
	margin-left: 0;
}
.rss, .contact {
	padding-left: 1.2em;
	background-repeat: no-repeat;
	background-size: 1em 1em;
	background-position: 0 center;
}
.rss {
	background-image: url(images/rss-logo.svg);
}
.contact {
	background-image: url(images/contact-email.svg);
}

#pbmlf {
	clear: both;
	margin: 0;
	padding: 0 0 1em 0;
	font-size: 0.69em;
	color: #808080;
}
#pbmlf a {
	color: #808080;
	text-decoration: none;
}
/* end: elements of the footer */



/* buttonbar below the textarea */

#bbcode-options ul, #bbcode-options table, #bbcode-options table td, #bbcode-options table a {
	margin: 0;
	padding: 0;
}
#bbcode-options:not(.js-display-none) {
	display: block;
	position: absolute;
	border: 1px solid #bacbdf;
	max-width: calc(100% - 2rem);
	background: #efefef;
}
#bbcode-options ul {
	list-style-type: none;
}
#bbcode-options ul a {
	color: #000;
	display: block;
	text-decoration: none;
	padding: 3px 5px;
	min-width: 100px;
}
#bbcode-options ul a:hover {
	background: #e0e0e0;
}
#bbcode-options table {
	background:#bbb;
	border:none;
	border-collapse:collapse;
}
#bbcode-options table td {
	width:15px !important;
	height:15px !important;
}
#bbcode-options table a {
	border:1px solid #bbb;
	width:15px;
	height:15px;
}
#bbcode-options table a:hover {
	border:1px solid #fff;
	text-decoration:none;
}

/* end: buttonbar below the textarea */


/* assistance menu*/
#assistancemenu a {
	display: block;
	padding: 0 0.25em 0 13px;
	padding: 0 0.25rem 0 13px;
}

/* JS classes */
.js-display-none         { display: none; }
.js-display-block        { display: block; }
.js-visibility-hidden    { visibility:hidden; }
.js-cursor-pointer       { cursor: pointer; }
.js-cursor-move          { cursor: move; }
.js-display-fold .wrapper,
.js-display-fold #sidebarcontent #latest-postings, .js-display-fold #sidebarcontent #tagcloud {
	display: none;
}
article.js-display-fold header {
	padding-bottom: 0;
}
.js-display-fold img.avatar
                         { width: 1.6em; height: 1.6em; }
.js-display-fold h2
                         { font-size: 1em; margin: 0; }

/* Admin Warning */
div.warning              {
	border: 5px solid red;
	padding: 0.75em;
	font-size:1.3em;
}

/* navigation on wider screens */
@media screen and (min-width: 32em) {
	body > header, nav#subnav, main, body > footer {
		padding-left: 0.5em;
		padding-right: 0.5em;
	}
	#subnav li:not(:first-child), #subnav-2 li:not(:first-child) {
		margin-left: 0.25em;
	}
	#subnav ul li:not(:first-child) a {
		border-left: 1px solid #bacbdf;
	}
	aside section {
		margin: 0.5em 0 0 0;
	}
	.adminmenu li {
		margin: 0.5rem 0 0 0;
	}
	#settings {
		border: 1px solid #bacbdf;
		padding: 1em;
	}
	.reply-wrapper {
		margin: 0 0 0 0.75rem;
	}
	article header .posting-hp, article header .posting-location, article header .posting-time, article header .posting-ip, article header .posting-edited, article header .op-link, article header .interpunction {
		display: inline;
	}
	article.js-display-fold h2, article.js-display-fold .author {
		display: inline;
	}
	article header .posting-ago, .js-display-fold .author *, .js-display-fold .tags {
		display: none;
	}
	.js-display-fold .author strong, .js-display-fold .author strong * {
		display: inline;
	}
	.hover-layer {
		width: 25em;
		margin: 1rem auto;
		border: 1px solid #bacbdf;
		border-radius: 0.375rem;
	}
	#pbmlf {
		text-align: center;
		padding: 0 20px 1em 20px;
		padding-bottom: 1rem;
	}
	input[size="40"] {
		width: 26em;
		max-width: 100%;
	}
}

@media screen and (min-width: 48em) {
	body > header, nav#subnav, main, body > footer {
		padding-left: 1em;
		padding-right: 1em;
	}
	body > header {
		display: flex;
		justify-content: space-between;
	}
	#bottombar {
		margin-top: 0;
	}
	#admin-menu-container, #main-container {
		display: flex;
		justify-content: space-between;
		align-items: flex-start;
	}
	#main-container {
		flex-direction: row-reverse;
	}
	#admin-menu-container #additional-admin-info, #main-container #main-thread-list {
		margin-right: 0.5em;
	}
	#admin-menu-container .adminmenu, #main-container #sidebar, #main-container #bottombar {
		margin-left: 0.5em;
	}
	#additional-admin-info section:first-child {
		margin-top: 0;
	}
	#additional-admin-info, #sidebar, #bottombar {
		flex: 0 0 15em;
	}
	.adminmenu, #main-thread-list {
		flex: 1 1 auto;
	}
	.adminmenu {
		margin: 0;
		display: grid;
		grid-gap: 0.75em;
		grid-template-columns: repeat(auto-fill, minmax(20em, 1fr));
	}
	.adminmenu li {
		margin: 0;
	}
	.adminmenu a {
		margin: 0;
		padding: 0;
		font-size: 1em;
	}
	.adminmenu a .icon {
		width: 2.25em;
		height: 2.25em;
		flex: 0 0 2.25em;
	}
	aside h2, aside section, .thread-posting, .adminmenu a {
		box-shadow: 0.2em 0.2em 0.4em 0.2em #ced;
	}
	/* table definitions */
	table {
		border: 1px solid #bacbdf;
		box-shadow: 0.2em 0.2em 0.4em 0.2em #ced;
	}
	thead {
		display: table-header-group;
		background: #d2ddea;
	}
	tbody {
		display: table-row-group;
	}
	tr {
		display: table-row;
		box-shadow: none;
	}
	tbody tr:nth-child(odd) {
		background:#eee;
	}
	tbody tr:nth-child(even) {
		background:#fff;
	}
	th, td {
		display: table-cell;
		border-right: 1px dotted #bacbdf;
	}
	th {
		font-weight: bold;
		text-align: left;
		padding: 0.1rem 0.25rem;
	}
	th span.header-cell {
		display: flex;
		align-content: start;
		align-items: center;
	}
	th .sorting-ui {
		margin-left: 0.25em;
		display: flex;
		align-content: start;
		align-items: center;
	}
	th .sorting-ui a {
		display: inline-block;
		width: 0.9em;
		height: 1.35em;
		border: 1px solid #bacbdf;
		background: #f4f4f4;
	}
	th .sorting-ui a:focus, th .sorting-ui a:hover {
		background: #fafac0;
	}
	th .sorting-ui a:first-of-type {
		text-align: right;
		border-top-left-radius: 0.25em;
		border-bottom-left-radius: 0.25em;
	}
	th .sorting-ui a:last-of-type {
		text-align: left;
		border-top-right-radius: 0.25em;
		border-bottom-right-radius: 0.25em;
	}
	th .sorting-ui a img {
		height: 80%;
		width: auto;
	}
	td {
		font-weight: normal;
		padding: 0.25rem;
	}
	td.subject {
		min-width:55%;
	}
	td.cell-subject {
		border-bottom: none;
		background-color: transparent;
	}
	td[data-header] {
		background-color: transparent;
		font-size: 1em;
	}
	td[data-header]::before {
		content: '';
	}
	table td.item-tools {
		width: 6em;
	}
	#main-thread-list tbody tr:nth-child(odd) td.cell-subject {
		background-color: #dfefff;
	}
	#main-thread-list tbody tr:nth-child(even) td.cell-subject {
		background-color: #e8f8ff;
	}
	.hover-layer {
		min-width: 28em;
		width: 64vw;
	}
	.settings th {
		width: 40%;
		max-width: 24em;
	}
}

@media screen and (min-width: 64em) {
	#additional-admin-info, #sidebar, #bottombar {
		flex: 0 0 17.5em;
	}
	.cell-date {
		display: table-cell;
	}
}

@media screen and (min-width: 72em) {
	#additional-admin-info, #sidebar, #bottombar {
		flex: 0 0 20em;
	}
	.cell-count-replies {
		display: table-cell;
	}
}

@media screen and (min-width: 80em) {
	.cell-count-views {
		display: table-cell;
	}
}

