/***********************************************************************
* NOTICE: In order to reduce bandwidth usage, a minimized version of   *
* this stylesheet is used by default (style.min.js). Changes in this   *
* file do not have any effect unless it is loaded by the template      *
* (main.tpl).                                                          *
* The minimized version was created with the YUI Compressor            *
* <http://developer.yahoo.com/yui/compressor/>.                        *
***********************************************************************/

/* definitions for the main blocks of the pages */
html, body, body > header, #subnav, main, body > footer {
	margin: 0;
	padding: 0;
}

html, body {
	width: 100%;
	min-height: 100%;
}

body {
	color: #000;
	background: #fff;
	font-family: verdana, arial, sans-serif;
	font-size: 1em;
	font-size: 1rem;
	line-height: 150%;
}

body > header {
	display: block;
	background: #d2ddea;
	padding: 0 10px 0 10px;
}

#subnav {
	background: #f9f9f9;
	padding: 0 10px 0 10px;
	border-top: 1px solid #bacbdf;
	border-bottom: 1px solid #bacbdf;
	line-height: 1.6em;
}

main {
	display: block;
	padding: 0.75em 10px;
	padding: 0.75rem 10px;
	min-height: 200px;
}

body > footer {
	display: block;
	clear: both;
	padding: 0 10px 0 10px;
	font-size: 0.7em;
	background: #f9f9f9;
	border-top: 1px solid #bacbdf;
}
/* end: main blocks */

/* commonly used elements */
h1 {
	margin-top: 0;
	font-size: 1.25em;
}
h2 {
	margin-top: 1em;
	margin-top: 1rem;
	font-size: 1.15em;
}
h3 {
	font-size: 1em;
}
p {
	margin-top: 0;
}
img {
	border: none;
}
/* end: commonly used elements */

/* default links */
a {
	color: #00c;
	text-decoration: none;
}
a:visited {
	color: #00a;
}
a:focus, a:hover {
	color: #00f;
	text-decoration: underline;
}
a:active {
	color: #f00;
}
/* end: default links */

/* strong links */
a.stronglink {
	padding-left: 13px;
	font-weight: bold;
	background-image: url(images/bg_sprite_1.png);
	background-repeat: no-repeat;
	background-position: 0 8px;
}
a.stronglink:visited {
	color: #00c;
}
a.stronglink:focus, a.stronglink:hover {
	background-position: 0 -41px;
}
/* end: strong links */

img.next                 { background:url(images/bg_sprite_2.png) no-repeat 0 -11px; }
img.next:hover           { background:url(images/bg_sprite_2.png) no-repeat -6px -11px; }
img.previous             { background:url(images/bg_sprite_2.png) no-repeat 0 0; }
img.previous:hover       { background:url(images/bg_sprite_2.png) no-repeat -6px 0; }

/* elements of the page header */
#logo, #logo .home, #logo h1, #logo .index, #nav, #usermenu, #usermenu li {
	margin:0;
	padding:0;
}
#logo .home {
	margin-bottom: 0.3em;
	margin-bottom: 0.3rem;
}
#logo h1 a {
	color:#000080;
	text-decoration: none;
}
#logo h1 a:visited, #logo h1 a:hover {
	color:#00a;
	text-decoration: none;
}

#usermenu {
	font-size: 0.82em;
	list-style: none;
}
#usermenu li {
	display: inline;
	margin-left: 0.25em;
}
#usermenu li:first-child {
	margin-left: 0;
}

#topsearch div {
	display: inline;
}
#topsearch #search-input {
	width: 10em;
	width: 10rem;
}
/* end: elements of the page header */

/* elements of the navigation bar below the page header */
#subnav-1, #subnav-2 {
	margin:0;
	padding:0;
}
#subnav ul {
	list-style: none;
}
#subnav form, #subnav form div {
	display:inline;
}
#subnav a, #subnav form {
	padding-left:14px;
}

#subnav-2 a {
	background-image: url(images/bg_sprite_1.png);
	background-repeat: no-repeat;
}
#subnav .refresh {
	padding-left:14px;
	background-position: 0 -493px;
}
#subnav .order-1 {
	background-position: 0 -543px;
}
#subnav .order-2 {
	background-position: 0 -593px;
}
#subnav .fold-1 {
	background-position: 0 -643px;
}
#subnav .fold-2 {
	background-position: 0 -693px;
}
#subnav .tableview {
	background-position: 0 -743px;
}
#subnav .threadview {
	background-position: 0 -793px;
}
#subnav .openthread {
	background-position: 0 -843px;
}
#subnav .linear {
	background-position: 0 -893px;
}
#subnav .hierarchic {
	background-position: 0 -943px;
}
#subnav .fold-postings {
	background-position: 0 -993px;
}
/* end: elements of the navigation bar below the page header */

a.rss                    { padding-left:13px; background:url(images/bg_sprite_1.png) no-repeat 0 -1048px; }

/* elements of the main block */
/* general rules */
.xsmall, .small {
	font-size: 0.69em;
	line-height: 130%;
}

/* elements of #sidebar, #bottombar, aside */
aside h2, #sidebarcontent, #sidebarcontent div, aside div h3, #latest-postings ul, #modmenu ul, #latest-postings li, #modmenu li, #latest-postings a, #modmenu a {
	margin:0;
}
aside, #sidebar, #bottombar, aside h2, #sidebarcontent, #sidebarcontent div, aside div h3, #latest-postings ul, #modmenu ul, #latest-postings li, #modmenu li {
	padding: 0;
}
#sidebar {
	margin: 0 0 1em 0;
}
#bottombar {
	margin: 1em 0 0 0;
}
aside h2 {
	font-size: 1em;
	font-size: 1rem;
	line-height: 160%;
	font-weight: normal;
	background: #d2ddea;
	border: 1px solid #bacbdf;
}
aside h2 a {
	display: block;
	height: 100%;
	padding: 0 0.25em;
	padding: 0 0.25rem;
	width: calc(100% - 0.5em);
	width: calc(100% - 0.5rem);
	text-decoration: none;
}
aside h2 a:link, aside h2 a:visited {
	color: #000;
}
aside h2 a:focus, aside h2 a:hover {
	color: #143;
}
aside h2 a:active {
	color: #643;
}
#sidebarcontent, #sidebarcontent div, aside div h3 {
	margin: 0;
	padding: 0;
}
#sidebarcontent div {
	margin: 0.3em 0 0 0;
	background: #f9f9f9;
	border: 1px solid #bacbdf;
}
aside div h3 {
	font-size: 1em;
	font-size: 1rem;
	padding: 0 0.25em;
	padding: 0 0.25rem;
	width: calc(100% - 0.5em);
	width: calc(100% - 0.5rem);
	line-height: 160%;
	font-weight: normal;
	background: #d2ddea;
}

#latest-postings ul, #modmenu ul {
	list-style: none;
}
#latest-postings li, #modmenu li {
	word-wrap: break-word;
	overflow: hidden;
}
#latest-postings a, #modmenu a {
	line-height: 1.5em;
	text-decoration: none;
	display: block;
	padding: 3px 5px 3px 5px;
	color: #00c;
}
#latest-postings a span {
	display: block;
}
#latest-postings a:visited {
	color: #808;
}
#latest-postings a:focus, #latest-postings a:hover, #modmenu a:focus, #modmenu a:hover {
	background: #efefef;
	text-decoration: none;
}
#latest-postings a .posting-info {
	color: #666;
	font-size: 0.82em;
	font-size: 0.82rem;
}
#mod-options a.delete-marked, #mod-options a.manage, #mod-options a.report, #mod-options a.delete-spam {
	padding-left: 14px;
	background-image: url(images/bg_sprite_4.png);
	background-repeat: no-repeat;
}

#mod-options a.delete-marked {
	background-position: 2px -287px;
}
#mod-options a.manage {
	background-position: 2px -338px;
}
#mod-options a.report {
	background-position: 2px -39px;
}
#mod-options a.delete-spam {
	background-image: url(images/bg_sprite_3.png);
	background-position: 2px -38px;
}

#tagcloud ul, #usersonline ul {
	margin: 0;
	padding: 5px;
	list-style: none;
}
#tagcloud li, #usersonline li {
	display: inline;
}
#tagcloud strong {
	font-weight: bold;
}

#usersonline {
	background: #f9f9f9;
	border: 1px solid #bacbdf;
	margin: 0.75em 0;
	margin: 0.75rem 0;
}
#usersonline h2 {
	padding:0 5px;
	border-top: none;
	border-right: none;
	border-left: none;
}
#tagcloud a, #usersonline a {
	display:inline-block;
	margin-right:0.25em;
	margin-right:0,25rem;
}
#tagcloud a:not(:last-child):after, #usersonline a:not(:last-child):after {
	content:", ";
}
/* end: elements of #sidebar, #bottombar, aside */



/* elements of the footer */
#footer-1, #footer-2, #footermenu, #footermenu li {
	margin: 0;
	padding: 0;
}
#footermenu {
	margin-bottom: 1em;
	margin-bottom: 1rem;
	list-style-type: none;
}
#footermenu li {
	display: inline;
	margin-left: 0.25em;
}
#footermenu li:first-child {
	margin-left: 0;
}

#pbmlf {
	clear: both;
	margin: 0;
	padding: 0 20px 11px 20px;
	font-size: 0.69em;
	text-align: center;
	color: #808080;
}
#pbmlf a {
	color: #808080;
	text-decoration: none;
}
/* end: elements of the footer */

.posting                 {  }
.posting img.avatar      { float:right; margin:0 0 20px 20px; }
.posting h1              { margin:0 0 2px 0; padding:0; }
.posting h1 .category    { font-size:0.57em; }
.posting .author         { margin:1px 0 18px 0; font-style:italic; }
.posting p               {  }
*+html .posting ul       { padding-left:17px; } /* IE 7 only */
.posting li              { font-size:0.82em; line-height:1.5em; }
.posting li li           { font-size:1em; }
.quote                   { color:#6f6f6f; font-style:italic; }
.edited, .ago            { font-size:0.82em; color:#808080; }
img.no-text              { cursor:help; }
pre                      { max-width:100%; overflow:auto; }
code                     { font-family:"courier new",courier; color:#000080; }
code.monospace           { color:#000; }
blockquote               { margin:0; padding:0 0 0 30px; color:#6f6f6f; font-style:italic; background:url(images/quote.png) no-repeat top left; }
blockquote code          { font-family:"courier new",courier; color:#6f6f6f; }

.posting-footer          { clear:both; margin:25px 0 0 0; padding:0 0 0 0; }
.posting-footer .reply   { font-size:0.82em; float:left; }
.posting-footer .locked  { font-size:0.82em; color:#808080; padding-left:16px; background:url(images/locked.png) no-repeat 0 0; }
.posting-footer .info    { text-align:right; }
.posting-footer .views   { font-size:0.69em; color:#808080; }
.posting-footer .options { display:inline; font-size:0.69em !important; list-style-type:none; max-width:100% !important; padding:0; }
.posting-footer .options li
                         { display:inline; margin:0 0 0 1em; }
.posting-footer a.edit   { padding-left:16px; background:url(images/bg_sprite_3.png) no-repeat 0 2px; }
.posting-footer a.delete { padding-left:13px; background:url(images/bg_sprite_3.png) no-repeat 0 -47px; }
.posting-footer a.move   { padding-left:13px; background:url(images/bg_sprite_4.png) no-repeat 0 2px; }
.posting-footer a.report { padding-left:14px; background:url(images/bg_sprite_4.png) no-repeat 0 -48px; }
.posting-footer a.lock   { padding-left:16px; background:url(images/bg_sprite_4.png) no-repeat 0 -99px; }
.posting-footer a.unlock { padding-left:16px; background:url(images/bg_sprite_4.png) no-repeat 0 -149px; }
.posting-footer a.lock-thread
                         { padding-left:16px; background:url(images/bg_sprite_4.png) no-repeat 0 -200px; }
.posting-footer a.unlock-thread
                         { padding-left:16px; background:url(images/bg_sprite_4.png) no-repeat 0 -250px; }

.thread-posting          { position:relative; border-left:10px solid #d2ddea; border-right:1px solid #f0f0f0; border-top:1px solid #f0f0f0; border-bottom:1px solid #f0f0f0; margin:0 0 20px 0; padding:0 0 0 0; background:#fff; /*border-right:1px solid blue;border-top:1px solid blue;border-bottom:1px solid blue;*/ }
.new                     { border-left:10px solid #88a9cf !important; }
.thread-posting h1,
.thread-posting h2       { margin:0 0 2px 0; padding:0; }
.thread-posting h1 .category
                         { font-size:0.57em; }
.thread-posting .header  { background:#f5f5f5; margin:0 0 0 0; padding:0 0 5px 10px; }
.thread-posting .header img.avatar
                         { position:relative; margin:0 0 20px 20px; padding:5px; background:#f5f5f5; float:right; }
.thread-posting .body    { margin:0; padding:10px 10px 10px 10px; }
.thread-posting .author  { margin:1px 0 0 0; font-style:italic; }
.thread-posting .posting-footer
                         { margin:10px; }
.hide-posting            { position:absolute; top:0; left:-10px; }

.thread-wrapper          { margin:0; padding:0; }
.reply-wrapper           { margin:0 0 0 20px; padding:0; list-style-type:none; }
.deep-reply-wrapper      { margin:0 0 0 10px; padding:0; list-style-type:none; }
.very-deep-reply-wrapper { margin:0; padding:0; list-style-type:none; }


.op-link,
.op-link a               { font-size:0.9em; color:#808080; }

#content p.tags          { margin:20px 0 0 0; padding:0; color:#808080; font-size:0.69em; line-height:1.42em; }
#content p.signature     { margin:10px 0 0 0; padding:0; color:#808080; font-weight:normal; font-size:0.69em; line-height:1.42em; }

h2.postingform           { margin:0 0 20px 0; }
p.reply-to               { margin:0 0 20px 0; }

div.complete-thread      { margin-bottom:30px; }
div.complete-thread p.left
                         { float:left; }
#content div.complete-thread p.right
                         { float:right; text-align:right; font-size:0.69em; }
ul.openthread            { clear:both; }

#usernav                 { height:1.5em; margin:0 0 15px 0; padding:0; }
#usersearch              { float:left; font-size:0.82em; }
#usersearch div,
#usersearch form         { display:inline; }
#usersearch label        { display:none; }
#userpagination          { float:right; text-align:right; }
#usernav-bottom          { margin:15px 0 0 0; padding:0; text-align:right; font-size:0.82em; }

#admin-usernav-bottom    { height:2em; margin:15px 0 20px 0; }
#selectioncontrols       { height:2em; margin:10px 0 0 0; padding:0; }
#admin-usernav-bottom #selectioncontrols
                         { float:left; height:2em; margin:0; padding:0; }
#selectioncontrols #arrow-selected
                         { margin:0 0 0 13px; }
#selectioncontrols .checkall
                         { margin-left:1em; font-size:0.69em; }
#admin-usernav-bottom #userpagination
                         { float:right; height:2em; text-align:right; }

.spam                    { color:#ff0000; font-weight:bold; background:yellow; }
.spam-note               { font-weight:bold; color:red; background:yellow; padding:5px; }
.thread ul               { font-size:1em; }
.thread li               { font-size:1em; }
.thread li li            { font-size:1em; }
.thrbeg                  { font-weight:bold; }
.caution                 { padding:0 0 0 20px; color:red; font-weight:bold; background:url(images/caution.png) no-repeat left center; }
.ok                      { padding:0 0 0 20px; font-weight:bold; color:red; background:url(images/tick.png) no-repeat left center; }
.entryline               { clear:both; margin:15px 0 15px 0; border-top:1px dotted #808080; border-left:0; border-right:0; border-bottom:0; height:1px; }
.marked-threads          { margin:30px 0 0 0; font-size:11px; }
.marked-threads-board    { margin:10px 1px 0 1px; font-size:11px; }
.ip                      { font-size:11px; color:#808080; }
span.userdata            { margin:0; padding:0; }
.online                  { color:red; }
.underline               { text-decoration:underline; }
label.main               { font-weight:bold; }
label.active             { color:#000; }
label.inactive           { color:#808080 !important; }
label.inactive input     { color:#808080; }
label.unavailable        { color:#c0c0c0; }
fieldset.active          { border:none; margin:0; padding:0; }
fieldset.active label,
fieldset.active input    { color:#000; }
fieldset.inactive        { border:none; margin:0; padding:0; }
fieldset.inactive label,
fieldset.inactive input  { color:#808080; }
.checkboxlist            { list-style-type:none; margin:0; padding:0; font-size:1em !important; }
.login                   { width:17em; }
.nowrap                  { white-space:nowrap; }
.user-locked             { color:red !important; }

ul.filelist              { list-style-type:none; padding-left:0; margin-left:0; font-size:0.82em; line-height:1.7em !important; }
ul.filelist img          { margin:0 5px -3px 0; padding:0; }

span.admin,
span.mod                 { /*border-bottom:1px dotted #c0c0c0;*/ }
ul.thread span.mod,
ul.thread span.admin,
td span.admin,
td span.mod              { cursor:help; }

.registered_user::after  {content:" \00AE"}

#captcha                 { margin:0; padding:0; }
#captcha p               { font-size:1em; }
#captcha img,
img.captcha              { border:1px solid #000; }

/* categories: */
.category {
	color: #000080;
	font-weight: normal;
}
.category-regusers       { color:#000080; font-size:0.82em; font-weight:normal; background:#e7e7e7; }
.category-adminmod       { color:#000080; font-size:0.82em; font-weight:normal; background:#d5d5d5; }
.category-b              { color:#00c; font-size:0.82em; font-weight:normal; }
.category-regusers-b     { color:#00c; font-size:0.82em; font-weight:normal; border-bottom:1px dotted #00c; }
.category-adminmod-b     { color:#00c; font-size:0.82em; font-weight:normal; border-bottom:1px solid #00c; }

h3.preview               { margin:10px 0 3px 0; font-size:0.82em; font-weight:bold; color:red; }
div.preview              { margin:0 0 25px 0; padding:10px; color:#000000; border:1px dotted red; }

table.wide               { width:100%; }
table                    { width:100%; border:1px solid #bacbdf; background:#fff; border-collapse:collapse; }
th                       { vertical-align:top; font-weight:bold; text-align:left; background:#d2ddea; padding: 2px 4px; }
td                       { vertical-align:top; font-weight:normal; padding: 2px 4px; }
tbody tr:nth-child(odd)  { background:#ddd; }
tbody tr:nth-child(even) { background:#f6f6f6; }
td.c                     { width:150px; background:#d2ddea; }
td.d                     { background:#f5f5f5; }
td.subject               { min-width:50%; }
table p                  { font-size:1em; }
table .small,
table .xsmall            { font-size:0.82em; }
table tr.drag td         { background:#ddd; }
.settings th {
	width: 40%;
	max-width: 24em;
}
.settings th strong {
	display: block;
}
.settings th .description {
	font-weight: normal;
	display: block;
}

/* tables on narrow screens*/
@media screen and (max-width: 32em) {
	table {
		border: none;
	}
	table thead {
		display: none;
	}
	tr, td, th {
		display: block;
	}
	 tr {
		border: 1px solid #bacbdf;
		margin-bottom: 0.25em;
		margin-bottom: 0.25rem;
	}
	 tr:last-child {
		margin-bottom: 0;
	}
	td[data-header] {
		background-color: #fff;
		line-height: 1.3em;
	}
	td[data-header]::before {
		content: attr(data-header) ': ';
	}
	.normaltab .subject, table.normaltab td.c, .settings th {
		border-bottom: 1px dotted #bacbdf;
	}
	table.normaltab td.c, .settings th, th, td {
		width: auto;
		max-width: 100%;
	}
	textarea {
		width: calc(100% - 6px);
	}
}

p.userdata               { margin:0; }
.normalform              { font-size:0.82em; }
.inline                  { display:inline; }

#postingform fieldset    { border:none; margin:0 0 1em 0; }
#postingform p           { font-size:1em; margin:0 0 5px 0; padding:0; }
#postingform label.input { display:block; float:left; width:8em; font-weight:bold; }
#postingform label.textarea
                         { font-weight:bold; }
#postingform input.checkbox
                         { margin-left:8em; }

#postingform #insert-quote
                         { margin: 0 0 0 0.5em; font-weight:normal; font-size:0.82em; padding:0 0 0 14px; background:url(images/quote_message.png) no-repeat left center; }

#postingform #text       { width:700px; height:400px; float:left; }
#postingform #format-bar { margin-left:710px; }

#postingform             { font-size:0.82em }
#postingform .small,
#postingform .xsmall     { font-size:0.82em }
#delete_cookie           { font-size:0.82em }
#delete_cookie a         { padding-left:13px; background:url(images/bg_sprite_3.png) no-repeat 0 -47px; }

#bbcode-bar              { margin:0 0 10px 0; width:62px; }
#bbcode-bar button       { width:62px; font-size:11px; margin:0 0 3px 0; padding:0; }
#bbcode-bar button span  { line-height:1.4em; }

#bbcodebutton-b span     { font-weight:bold; }
#bbcodebutton-i span     { font-style:italic; }
#bbcodebutton-link span  { color:#0000cc; text-decoration:underline; }
#bbcodebutton-color span { padding:0 0 0 15px; color:red; background:url(images/bg_sprite_5.png) no-repeat 0 1px; }
#bbcodebutton-size span  { padding:0 0 0 16px; background:url(images/bg_sprite_5.png) no-repeat 0 -47px; }
#bbcodebutton-list span  { padding:0 0 0 11px; background:url(images/bg_sprite_5.png) no-repeat 0 -99px; }
#bbcodebutton-img span   { padding:0 0 0 15px; background:url(images/bg_sprite_5.png) no-repeat 0 -148px; }
#bbcodebutton-upload span
                         { padding:0 0 0 11px; background:url(images/bg_sprite_5.png) no-repeat 0 -199px;  }
#bbcodebutton-flash span { padding:0 0 0 17px; background:url(images/bg_sprite_5.png) no-repeat 0 -248px; }
#bbcodebutton-tex span   { padding:0 0 0 19px; background:url(images/bg_sprite_5.png) no-repeat 0 -299px; }
#bbcodebutton-code span  { font-family:"courier new",courier; color:#000080; }

#bbcode-options          {  }
#bbcode-options div      { background:#efefef; border:1px solid #c0c0c0; padding:0; font-size:0.82em; }
#bbcode-options ul       { list-style-type:none; margin:0; padding:0; }
#bbcode-options ul a     { color:#000; display:block; text-decoration:none; padding:3px 5px; min-width:100px; }
#bbcode-options ul a:hover
                         { background:#e0e0e0; }
#bbcode-options table    { background:#bbb; border:none; margin:0; padding:0; border-collapse:collapse; }
#bbcode-options table td { width:15px !important; height:15px !important; margin:0; padding:0; }
#bbcode-options table a  { margin:0; padding:0; border:1px solid #bbb; width:15px; height:15px; }
#bbcode-options table a:hover { border:1px solid #fff; text-decoration:none; }

#smiley-bar              { width:70px; }
#smiley-bar button.default
                         { margin:0 1px 1px 0; padding:0; width:30px; }
#smiley-bar button.default span
                         { display:block; line-height:1px; margin:0; padding:0; }
#smiley-bar button.default img
                         { margin:0; padding:0; }
#smiley-bar button.more-smilies
                         { width:62px; font-size:11px; margin:0 0 3px 0; padding:0; }
#smiley-bar button span  { line-height:1.4em; }
#additional-smilies      { border:none !important; margin:0; padding:7px 0 0 7px !important; max-width:200px; }
#additional-smilies img  { margin:0 7px 7px 0; }

#bbcode-instructions     { margin:0; padding:0; font-size:0.82em; }
#bbcode-instructions dt  { font-weight:bold; }
#bbcode-instructions dd  { margin-left:0; }

#smiley-instructions dt  { float:left; }
#smiley-instructions dd  { clear:right; }

button.insert-smiley     { margin:0; padding:0; font-size:11px; font-weight:normal; }

#smilies li              { display:inline-block; min-width:50px; padding:0 10px 10px 0; white-space:nowrap; }

ul.pagination            { margin:0; padding:0; list-style-type:none; font-size:0.9em; }
ul.pagination li         { display:inline; font-size:0.9em; margin-left:0.7em; /* for IE 7: */ position:relative; }
ul.pagination li:first-child
                         { margin-left:0; }
ul.pagination a,
ul.pagination span       { border:1px solid #bacbdf; background:#f9f9f9; padding:1px 6px; }
ul.pagination a:hover    { border:1px solid #0000cc; background:#efefef; text-decoration:none; }
ul.pagination .current   { border:1px solid #bacbdf; color:red; font-weight:bold; }
ul.pagination-index      { margin:0; text-align:right; max-width:100% !important; }
ul.pagination-index-table
                         { margin-top:20px !important; text-align:right; max-width:100% !important; }

#more-smilies            { position:absolute; width:200px; background:#ffc; border:1px solid #c0c0c0; display:none; }
#more-smilies .close     { position:absolute; top:0; right:0; padding:0; }
#more-smilies-body       { overflow:auto; }
#more-smilies-content    { max-height:300px;}
#more-smilies-content p  { padding:10px; }
#more-smilies-content img
                         { padding:5px; }

#colorpicker             { position:absolute; /*width:100px; height:100px;*/ background:#bbb; border:1px solid #bbb; display:none; }
#colorpicker table       { margin:0; padding:0; line-height:10px; }
#colorpicker table img   { margin:0; padding:0; border:1px solid #bbb; }
#colorpicker table a:hover img
                         { margin:0; padding:0; border:1px solid #fff; }

#sizepicker              { position:absolute;  background:#efefef; border:1px solid #c0c0c0; display:none; padding:0; }
#sizepicker p            { margin:0; padding:0; }
#sizepicker p a          { color:#000; display:block; text-decoration:none; padding:3px; }
#sizepicker p a:hover    { background:#e0e0e0; }

#codepicker              { position:absolute;  background:#efefef; border:1px solid #c0c0c0; display:none; padding:0; }
#codepicker ul           { list-style-type:none; margin:0; padding:0; }
#codepicker ul a         { color:#000; display:block; text-decoration:none; padding:1px 5px 1px 5px; }
#codepicker ul a:hover   { background:#e0e0e0; }

.adminmenu               { list-style-type:none; padding-left:0; margin-left:0; font-size:0.82em; line-height:1.7em !important; }
.adminmenu li            {  }
.adminmenu a             { text-decoration:none; }
.adminmenu a:hover span  { text-decoration:underline; }
.adminmenu a img         { margin:0 5px -3px 0; padding:0; }
#content .adminmenu .small
                         { font-size:0.82em; }

.manage-postings         { border:1px solid #bacbdf; margin-top:25px; background:#f9f9f9; }
.manage-postings legend  { font-size:0.82em; font-weight:bold; }

/* thread links: */
a.thread,
a.thread:link            { padding-left:18px; color:#0000cc; text-decoration:none; font-weight:bold; background:url(images/bg_sprite_1.png) no-repeat 0 -148px; }
a.thread:visited         { /*color:#800080;*/ }
a.thread:hover           { color:#0000ff; text-decoration:underline; }
a.thread:active          { color:#ff0000; }
/* sticky threads: */
a.thread-sticky,
a.thread-sticky:link     { padding-left:18px; color:#0000cc; text-decoration:none; font-weight:bold; background:url(images/bg_sprite_1.png) no-repeat 0 -250px; }
a.thread-sticky:visited  { /*color:#800080;*/ }
a.thread-sticky:hover    { color:#0000ff; text-decoration:underline; }
a.thread-sticky:active   { color:#ff0000; }
/* sticky and locked threads: */
a.thread-sticky-locked,
a.thread-sticky-locked:link     { padding-left:18px; color:#0000cc; text-decoration:none; font-weight:bold; background:url(images/bg_sprite_1.png) no-repeat 0 -1210px; }
a.thread-sticky-locked:visited  { /*color:#800080;*/ }
a.thread-sticky-locked:hover    { color:#0000ff; text-decoration:underline; }
a.thread-sticky-locked:active   { color:#ff0000; }
/* locked threads: */
a.thread-locked,
a.thread-locked:link     { padding-left:18px; color:#0000cc; text-decoration:none; font-weight:bold; background:url(images/bg_sprite_1.png) no-repeat 0 -1110px; }
a.thread-locked:visited  { /*color:#800080;*/ }
a.thread-locked:hover    { color:#0000ff; text-decoration:underline; }
a.thread-locked:active   { color:#ff0000; }
/* new threads: */
a.threadnew-sticky,
a.threadnew-sticky:link  { padding-left:18px; color:#0000cc; text-decoration:none; font-weight:bold; background:url(images/bg_sprite_1.png) no-repeat 0 -300px; }
a.threadnew-sticky:visited
                         { /*color:#800080;*/ }
a.threadnew-sticky:hover { color:#0000ff; text-decoration:underline; }
a.threadnew-sticky:active
                         { color:#ff0000; }
/* new sticky and locked threads: */
a.threadnew-sticky-locked,
a.threadnew-sticky-locked:link    { padding-left:18px; color:#0000cc; text-decoration:none; font-weight:bold; background:url(images/bg_sprite_1.png) no-repeat 0 -1260px; }
a.threadnew-sticky-locked:visited { /*color:#800080;*/ }
a.threadnew-sticky-locked:hover   { color:#0000ff; text-decoration:underline; }
a.threadnew-sticky-locked:active  { color:#ff0000; }
/* new locked threads: */
a.threadnew-locked,
a.threadnew-locked:link    { padding-left:18px; color:#0000cc; text-decoration:none; font-weight:bold; background:url(images/bg_sprite_1.png) no-repeat 0 -1160px; }
a.threadnew-locked:visited { /*color:#800080;*/ }
a.threadnew-locked:hover   { color:#0000ff; text-decoration:underline; }
a.threadnew-locked:active  { color:#ff0000; }
/* new threads: */
a.threadnew,
a.threadnew:link         { padding-left:18px; color:#0000cc; text-decoration:none; font-weight:bold; background:url(images/bg_sprite_1.png) no-repeat 0 -198px; }
a.threadnew:visited      { /*color:#800080;*/ }
a.threadnew:hover        { color:#0000ff; text-decoration:underline; }
a.threadnew:active       { color:#ff0000; }
/* replies: */
a.reply,
a.reply:link             { padding-left:16px; color:#0000cc; text-decoration:none; font-weight:normal; background:url(images/bg_sprite_1.png) no-repeat 0 -348px; }
a.reply:visited          { /*color:#800080;*/ }
a.reply:hover            { color:#0000ff; text-decoration:underline; }
a.reply:active           { color:#ff0000; }
a.replynew,
a.replynew:link          { padding-left:16px; color:#0000cc; text-decoration:none; font-weight:normal; background:url(images/bg_sprite_1.png) no-repeat 0 -398px; }
a.replynew:visited       { /*color:#800080;*/ }
a.replynew:hover         { color:#0000ff; text-decoration:underline; }
a.replynew:active        { color:#ff0000; }

.read                    { color:#800080 !important; }
a.read:active            { color:#ff0000 !important; }

.currentthread           { padding-left:18px; color:#ff0000; font-weight:bold; background:url(images/bg_sprite_1.png) no-repeat 0 -148px; }
.currentthreadnew        { padding-left:18px; color:#ff0000; font-weight:bold; background:url(images/bg_sprite_1.png) no-repeat 0 -198px; }
.currentreply            { padding-left:16px; color:#ff0000; font-weight:bold; background:url(images/bg_sprite_1.png) no-repeat 0 -348px; }
.currentreplynew         { padding-left:16px; color:#ff0000; font-weight:bold; background:url(images/bg_sprite_1.png) no-repeat 0 -398px; }

a.internal,
a.internal:link          { padding-left:18px; color:#0000cc; text-decoration:none; background:url(images/bg_sprite_1.png) no-repeat 0 -148px; }
a.internal:visited       { /*color:#800080;*/ }
a.internal:hover         { color:#0000ff; text-decoration:underline; }
a.internal:active        { color:#ff0000; }

/* thread tree: */
ul.thread                { margin:0 0 1.5em 0; padding:0; list-style-type:none; max-width:100% !important; }
ul.thread li             { text-indent:-18px; margin-left:18px; position:relative; }
ul.thread li span.tail   { white-space:nowrap; }
ul.thread li .replies    { color:#808080; font-size:0.82em; }
ul.thread li .category   { font-size:0.82em; }
ul.reply,
ul.deep-reply,
ul.very-deep-reply       { margin:0 0 0 -16px; padding:0 0 0 16px; list-style-type:none; max-width:100% !important; }
ul.reply li              { text-indent:-16px; margin-left:24px; } /* thread view */
td ul.reply li           { text-indent:-16px; margin-left:20px; } /* table view */
ul.deep-reply li         { text-indent:-16px; margin-left:10px; }
td ul.deep-reply li      { text-indent:-16px; margin-left:5px; }
ul.very-deep-reply li    { text-indent:-16px; margin-left:0; }
td ul.very-deep-reply li { text-indent:-16px; margin-left:0; }
ul.complete-thread       { margin:0 0 20px 0; padding:0; list-style-type:none; clear:both; max-width:100% !important; }
ul.reply ul              { background:url(images/thread_connecting_line.png) repeat-y left center; }
ul.reply li:last-child>ul
                         { background:none; }

span.fold-expand         { display:none; }
ul.folded                { margin:0 0 10px 0; padding:0 0 0 15px; }
ul.folded span.fold-expand
                         { position:absolute; top:-2px; left:-15px; display:inline; margin-right:5px; }
img.expand-thread-inactive
                         { width:9px; height:9px; background:url(images/bg_sprite_2.png) no-repeat 0 -31px; }
img.expand-thread        { width:9px; height:9px; background:url(images/bg_sprite_2.png) no-repeat 0 -22px; }
img.fold-thread          { width:9px; height:9px; background:url(images/bg_sprite_2.png) no-repeat -9px -22px; }

td ul.thread             { margin:0; padding:0; list-style-type:none; font-size:1em !important; }
td ul.thread ul          { font-size:0.82em !important; line-height:1em; }
td ul.thread ul ul       { font-size:1em !important; }
td ul.folded             { margin:0; padding:0 0 0 15px; }
                         
/* postings in search results: */
ul.searchresults         { margin:0 0 20px 0; padding:0; list-style-type:none; max-width:100% !important; }
ul.searchresults li      { font-size:1em; padding:0 0 10px 0; }
ul.searchresults li li   { font-size:1em; }
a.thread-search          { padding-left:18px; color:#0000cc; font-weight:bold; background:url(images/bg_sprite_1.png) no-repeat 0 -148px; }
a.reply-search           { padding-left:18px; color:#0000cc; font-weight:bold; background:url(images/bg_sprite_1.png) no-repeat 0 -448px; }
a.thread-search:visited,
a.reply-search:visited   { /*color:#800080;*/ }
a.thread-search:active,
a.reply-search:active    { color:#ff0000; }

img.thumbnail            { width:150px; border:1px solid #c0c0c0; margin: 0; }
a:link img.thumbnail     { color: #0000ff; border:1px solid #c0c0c0; }
a:visited img.thumbnail  { color: #0000ff; border:1px solid #c0c0c0; }
a:hover img.thumbnail    { color: #0000ff; border:1px solid #000000; }
img.left                 { display:block; float:left; margin:0 10px 10px 0; }
img.right                { float:right; margin:0 0 10px 10px; }


/* ajax preview: */
#ajax-preview            { display:none; position:absolute; top:100px; left:100px; margin:13px 0 0 -3px; z-index:10; width:20px; }
#ajax-preview-top        { position:absolute; width:100%; top:0; height:16px; background:transparent url(images/bg_sprite_2.png) no-repeat 8px -40px; z-index:10; }
#ajax-preview-main       { border-top:1px solid #c0c0c0; position:absolute; top:15px; right:0; width:500px; }                
#ajax-preview-close      { float:right;	cursor:pointer; }
#ajax-preview-body       { background:#ffc; margin:0; padding:0; border-left: 1px solid #c0c0c0; border-right:1px solid #c0c0c0; border-bottom:1px solid #c0c0c0; }
#ajax-preview-content    { margin:0; padding:0 14px; max-height:350px; overflow:auto; clear:both; padding-bottom:16px; }
#ajax-preview-replylink-wrapper
                         { display:none; margin:0; padding:0; font-size:0.69em !important; }
#ajax-preview-replylink-wrapper:before
                         { content:"[ "; }
#ajax-preview-replylink-wrapper:after
                         { content:" ]"; }
#ajax-preview-replylink  { margin:0; padding:0; }
#ajax-preview-throbber   { display:block; margin-left:auto; margin-right:auto; }
#ajax-preview-content p,
#ajax-preview-content ul { font-size:0.82em; line-height:1.5em; }
#ajax-preview-content li,
#ajax-preview-content ul ul
                         { font-size:1em; }

#image-canvas            { position:absolute; top:0; left:0; width:100%; height:100%; background:url(images/canvas_bg.png); z-index:20; }
#image-canvas img        { display:block; margin:2em auto 0 auto; border:1px solid #000; z-index:30; max-width:90%; }

/* form elements */

/* give all textareas and inputs (except radios and checkboxes)
  a proper width for narrow vieworts */
textarea, input:not(.small-input) {
	width: calc(100% - 6px);
}

/* IE: */
#ie ul.reply             { width:100%; }
#ie ul.reply ul          { background:none; }
#ie ul.thread li         { height:100%;  }
/* IE 6: */
* html #ie ul.thread     { margin-left:-18px; }
* html #ie ul.thread li  { text-indent:0; }
* html #ie #usermenu li  { margin-left:5px; padding-left:5px; background:none; }
* html #ie #subnav #subnav-2
                         { padding-top:0.4em; }
* html #ie #footermenu li
                         { margin-left:5px; padding-left:5px; background:none; }
* html #ie div.complete-thread
                         { margin-bottom:20px; }
/* IE 7: */
*+html #ie               {  }
